*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body{
  font-family: 'Poppins', serif;
  background-color: white;
}

button{
  font-family: 'Poppins', serif;
  outline: none;
  cursor: pointer;
  border: none;
}
a{
  text-decoration: none;
  cursor: pointer;
}
input{
  outline: none;
  font-size: 30px;
  border: none;
} 
#left{
  position: absolute;
  width: 720px;
  height: 900px;
  right: 720px;
  top: 0px;
}
#right{
  position: absolute;
  width: 720px;
  height: 900px;
  left: 720px;
  top: 0px;
  
  background: linear-gradient(180deg, #FF8718 0%, #C8380B 100%);
}
#welcome{
  position: absolute;
  width: 166px;
  height: 28px;
  left: 65px;
  top: 100px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  
  color: #000000;
}
#email{
  position: absolute;
  width: 240px;
  height: 28px;
  left: 65px;
  top: 224px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  
  color: #000000;
}
#enterEmail{
  position: absolute;
  width: 591px;
  height: 86px;
  left: 65px;
  top: 286px;
  
  background: #F5F5F5;
}
#password{
  position: absolute;
  width: 168px;
  height: 28px;
  left: 65px;
  top: 422px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  
  color: #000000;
  
}
#enterPass{
  position: absolute;
  width: 591px;
  height: 86px;
  left: 65px;
  top: 466px;
  
  background: #F5F5F5;
}
#signIn{
  position: absolute;
  width: 293px;
  height: 68px;
  left: 185px;
  top: 630px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  
  color: #FFFFFF;

  position: absolute;
  width: 293px;
  height: 68px;
  left: 196px;
  top: 630px;
  
  background: linear-gradient(180deg, #FF8718 0%, #C8380B 100%);
  border-radius: 20px;
}
#don{
  position: absolute;
  width: 263px;
  height: 26px;
  left: 400px;
  top: 775px;
  
  font-family: Roboto;
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  
  color: #000000;
  
}
#fyp{
  position: absolute;
  width: 263px;
  height: 26px;
  left: 83px;
  top: 775px;
  
  font-family: Roboto;
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  
  color: #000000;
}
#imgSignin{
  position: absolute;
  width: 706px;
  height: 422px;
  top: 239px;
  left: 7px;
}