*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body{
    font-family: 'Poppins', serif;
    background-color: white;
  }
  
  button{
    font-family: 'Poppins', serif;
    outline: none;
    cursor: pointer;
    border: none;
  }
  #center{
    position: absolute;
    width: 1440px;
    height: 900px;
    left: 0px;
    top: 0px;
    
    background: linear-gradient(180deg, #FF8718 0%, #C8380B 100%);
  }
  html, body {
    height: 100%;
    margin: 0;
}
#mainLine{
  position: absolute;
  width: 1324px;
  height: 797px;
  left: 58px;
  top: 52px;
  
  border: 5px solid #E9E0E0;
  box-sizing: border-box;
  border-radius: 30px;
}
#back{
  position: relative;
  width: 1440px;
  height: 900px;  
}
#title{
  position: absolute;
  width: 890px;
  height: 192px;
  left: 137px;
  top: 183px;
  
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 96px;
  
  color: #FFF9F9;
}
#subTitle{
  position: absolute;
  width: 616px;
  height: 33px;
  left: 139px;
  top: 391px;
  
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  
  color: #F5E9E9;
  
}
#sq1{
  position: absolute;
  width: 184px;
  height: 120px;
  left: 1106px;
  top: 277px;
  z-index: 950;
  
  background: #EEA837;
  border-radius: 30px;
}
#sq2{
  position: absolute;
  width: 184px;
  height: 120px;
  left: 906px;
  top: 450px;
  z-index: 950;
  
  background: #3AE01F;
  border-radius: 30px;
}
#sq3{
  position: absolute;
  width: 184px;
  height: 121px;
  left: 1132px;
  top: 629px;
  z-index: 950;
  
  background: #4DDFFF;
  border-radius: 30px;
}
#sq1b{
    position: absolute;
    width: 184px;
    height: 120px;
    left: 1000px;
    top: 421.69px;
    z-index: 900;
    
    background: rgba(233, 173, 77, 0.5);
    border-radius: 30px;
    transform: rotate(-160deg);
  }
#sq2b{
    position: absolute;
    width: 184px;
    height: 120px;
    top: 444px;
    left: 895px;
    z-index: 900;
    
    background: rgba(15, 233, 23, 0.5);
    border-radius: 30px;
    transform: rotate(-160deg);
  }
#sq3b{
    position: absolute;
    width: 184px;
    height: 120px;
    left: 1329.49px;
    top: 716.76px;
    z-index: 900;
    
    background: rgba(77, 223, 255, 0.5);
    border-radius: 30px;
    transform: rotate(160deg);
  }
#login{
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;

  position: absolute;
  width: 176px;
  height: 68px;
  left: 1135px;
  top: 104px;
  
  background: linear-gradient(180deg, #FF8718 0%, #C8380B 100%);
  border-radius: 70px;

}
#soccer{
  position: absolute;
  width: 112px;
  height: 77px;
  left: 36px;
  top: 26px;  
}
#vr{
  position: absolute;
  width: 169px;
  height: 92.23px;
  left: 7px;
  top: 16.86px;
}
#ball{
  position: absolute;
  width: 133.66px;
  height: 106.45px;
  top: 1.43px;
  left: 26.21px;
}
#sq1b{
  position: absolute;
  width: 184px;
  height: 120px;
  left: 1265.9px;
  top: 421.69px;
  
  background: rgba(233, 173, 77, 0.5);
  border-radius: 30px;
  transform: rotate(-160deg);
}
#sq2b{
  position: absolute;
  width: 184px;
  height: 120px;
  left: 1062.9px;
  top: 599.69px;

  background: rgba(15, 233, 23, 0.5);
  border-radius: 30px;
  transform: rotate(-160deg);
}
#sq3b{
  position: absolute;
  width: 184px;
  height: 120px;
  left: 1329.49px;
  top: 716.76px;

  background: rgba(77, 223, 255, 0.5);
  border-radius: 30px;
  transform: rotate(160deg);
}