*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body{
    font-family: 'Poppins', serif;
    background-color: white;
  }
  
  button{
    font-family: 'Poppins', serif;
    outline: none;
    cursor: pointer;
    border: none;
  }
  a{
    text-decoration: none;
  }
  input{
    outline: none;
    font-size: 30px;
    border: none;
  } 

  #pcBack{
    position: absolute;
width: 1440px;
height: 476px;
left: 0px;
top: 0px;

border-radius: 20px;
  }
#connect{

    position: absolute;
width: 119px;
height: 38px;
left: 1189px;
top: 379px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 37px;
/* identical to box height */


color: #FFFFFF;

    position: absolute;
    width: 244px;
    height: 86px;
    left: 1127px;
    top: 355px;
    
    background: #FFD037;
    border-radius: 40px;
}
#pfp{
    position: absolute;
    width: 336px;
    height: 336px;
    left: 25px;
    top: 248px;
    border-radius: 50%;
    
    background: #FFD037;
}
#vikPfp{
    position: absolute;
    width: 330px;
    height: 312px;
    left: 15px;
    top: 11px;
    right: 15px;
    bottom: 11px;
}
#vik{
    position: absolute;
    width: 518px;
    height: 106px;
    left: 25px;
    top: 584px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 96px;
    
    color: #000000;
}
#bio{
    position: absolute;
    width: 36px;
    height: 36px;
    left: 25px;
    top: 693px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    
    
    color: #000000;
}
#bottom{
    position: absolute;
    width: 1417px;
    height: 335px;
    left: 10px;
    top: 809px;
    
    background: linear-gradient(180deg, #EC5736 17.19%, #FFE818 100%);
    border-radius: 20px;
}